@using System.Security.Claims @{ var appName = "Batelec Billing Payment"; var theme = User.FindFirst("Profile:Theme")?.Value; var uid = User.FindFirst(ClaimTypes.NameIdentifier)?.Value; var urlProfilePicture = string.Empty; }<!doctype html><html lang="en"><head><base href="~/"/><meta charset="utf-8"/><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/><title>@ViewData["Title"] - @appName</title><script defer="defer" src="/app/203-0b2661fa0b8f60f3bd21.js"></script><script defer="defer" src="/app/287-d26a6e0ca8884f8b5438.js"></script><script defer="defer" src="/app/257-7e4de7cf3cd04789c996.js"></script><script defer="defer" src="/app/933-91f686c16750611149c1.js"></script><script defer="defer" src="/app/consumer-f9c38d5bd0037fcbbbac.js"></script><link href="/app/203-cbb67ddb6a80010ce463.css" rel="stylesheet"><link href="/app/287-471881b539c1b12bb0e5.css" rel="stylesheet"><link href="/app/consumer-5fd50c8638c67b2a6ac3.css" rel="stylesheet"></head><body id="top" class="bg-light"><div id="root"></div><script id="app" type="text/x-template"><div v-cloak>
            <AppBar app-name="@appName"/>
            <div class="container my-2">
        @RenderBody()
            </div>
            <Toasts></Toasts>
            <Notification uid="@uid"
                    url-view-announcement="/consumer/announcements/view"
                    url-view-billing="/consumer/billings/view"
                    url-view-reservation="/consumer/reservations/view"></Notification>
        </div></script>@RenderSection("Scripts", required: false)</body></html>