@page "/administrator/billings"
@using BlazorApp.Client.Components.Toaster
@using BlazorApp.Shared.Billing

@inject HttpClient Http

<PageTitle>Billings</PageTitle>

<div class="row">
    <div class="col">
        <h3>Billings</h3>
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" @onclick="@(async ()=> await GetItems())">
            <i class="oi oi-reload"></i>
            Refresh
        </button>
        <a href="/administrator/billings/add" class="btn btn-primary">
            <i class="oi oi-plus me-1"></i>Add
        </a>
    </div>
</div>

<div class="table-responsive pt-1">
    <table class="table table-bordered">
        <thead>
            <tr class="table-primary">
                <th>Bill</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            @foreach (var item in Billings)
            {
                <tr>
                    <td>
                        <a href="/administrator/billings/@item.BillingId">
                            @item.Number
                        </a>
                    </td>
                    <td>
                        @item.StatusText
                    </td>
                    <td>
                        @item.DateDue
                    </td>
                    <td>
                        @item.Amount.ToString("C")
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@code {

    [Inject] private ToasterService? _toasterService { get; set; }
    private ToasterService toasterService => _toasterService!;

    private void AddToast() => toasterService.AddToast(Toast.NewToast("Hello World", "Hello from Blazor", MessageColour.Info, 30));

    List<ViewBillingInfo> Billings = new List<ViewBillingInfo>();

    protected override async Task OnInitializedAsync()
    {
        await GetItems();
    }

    async Task GetItems()
    {
        var foo = await Http.GetFromJsonAsync<List<ViewBillingInfo>>("/api/billing/");

        Billings = foo;
    }
}
