@page "/administrator/billings/{billingId}"
@using BlazorApp.Shared.Billing

@inject HttpClient Http

<PageTitle>View Billing</PageTitle>

<div class="row">
    <div class="col">
        <h3>View Billing</h3>
    </div>
    <div class="col-auto">
        <button>Set to Unpaid</button>
        <button>Set to Paid</button>
        <a href="/administrator/billings" class="btn btn-outline-secondary">Back</a>
    </div>
</div>

@if (Item != null)
{
    <div class="row">
        <div class="col-md">
            <div class="form-floating mb-2">
                <div id="AccountNumber" class="form-control border-0">
                    @Item.AccountNumber
                </div>
                <label for="AccountNumber" class="small fw-bolder">AccountNumber</label>
            </div>
            <div class="form-floating mb-2">
                <div id="AccountName" class="form-control border-0">
                    @Item.AccountName
                </div>
                <label for="AccountName" class="small fw-bolder">AccountName</label>
            </div>

            <div class="form-floating mb-2">
                <div id="Number" class="form-control border-0">
                    @Item.Number
                </div>
                <label for="Number" class="small fw-bolder">Number</label>
            </div>

            <div class="form-floating mb-2">
                <div id="Amount" class="form-control border-0">
                    @Item.Amount.ToString("C3")
                </div>
                <label for="Amount" class="small fw-bold">Amount</label>
            </div>

            <div class="form-floating mb-2">
                <div id="Amount" class="form-control border-0">
                    @Item.DateDue.ToLocalTime()
                </div>
                <label for="Amount" class="small fw-bold">Due Date</label>
            </div>

            <div class="form-floating mb-2">
                <div id="Amount" class="form-control border-0">
                    @Item.ReadingDate.ToLocalTime()
                </div>
                <label for="Amount" class="small fw-bold">Reading Date</label>
            </div>

            <div class="form-floating mb-2">
                <div id="Amount" class="form-control border-0">
                    @Item.DateStart.ToLocalTime()
                </div>
                <label for="Amount" class="small fw-bold">Billing Start Date</label>
            </div>

            <div class="form-floating mb-2">
                <div id="Amount" class="form-control border-0">
                    @Item.DateEnd.ToLocalTime()
                </div>
                <label for="Amount" class="small fw-bold">Biiling End Date</label>
            </div>
        </div>

    </div>
}

@code {

    [Parameter]
    public string BillingId { get; set; }

    ViewBillingInfo Item { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await GetBilling(BillingId);
    }

    async Task GetBilling(string billingId)
    {
            var result = await Http.GetFromJsonAsync<ViewBillingInfo>($"/api/billing/{billingId}");

            Item = result;
    }
}
