@using System.Security.Claims @{ var appName = "Batelec Electric Reader"; var theme = User.FindFirst("Profile:Theme")?.Value; var uid = User.FindFirst(ClaimTypes.NameIdentifier)?.Value; var urlProfilePicture = string.Empty; }<!doctype html><html lang="en"><head><base href="~/"/><meta charset="utf-8"/><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/><title>@ViewData["Title"] - @appName</title><script defer="defer" src="/app/881-6437206c27e26d5e30f1.js"></script><script defer="defer" src="/app/846-339391fdfed508cf7cb2.js"></script><script defer="defer" src="/app/953-60e18da41fce0975cde9.js"></script><script defer="defer" src="/app/257-8fd75278670d5f0ce343.js"></script><script defer="defer" src="/app/administrator-9f8ff750f64afd3b5dba.js"></script><link href="/app/881-cbb67ddb6a80010ce463.css" rel="stylesheet"><link href="/app/953-471881b539c1b12bb0e5.css" rel="stylesheet"><link href="/app/administrator-5fd50c8638c67b2a6ac3.css" rel="stylesheet"></head><body id="top" class="bg-light"><div id="root"></div><script id="app" type="text/x-template"><div v-cloak uid="fooo">

            <AppBar app-name="@appName" />

            <div class="container my-2">
        @RenderBody()

            </div>
            <Toasts></Toasts>
            <Notification uid="@uid"
                    url-view-announcement="/administrator/announcements/view"
                    url-view-billing="/administrator/billings/view"
                    url-view-reservation="/administrator/reservations/view"></Notification>
        </div></script>@RenderSection("Scripts", required: false)</body></html>