@page "/register"

@layout LoginLayout
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<PageTitle>Register</PageTitle>
<h3 class="font-weight-normal text-center mt-5">Register</h3>

<EditForm class="container" OnValidSubmit="OnSubmit" Model="Parameters">
    <DataAnnotationsValidator />



    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="row mb-3">
                <label class="col-lg-4 col-form-label text-lg-end">Email</label>
                <div class="col">
                    <InputText type="email" class="form-control" @bind-Value="Parameters.Email" />
                    <ValidationMessage For="@(() => Parameters.Email)" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-lg-4 col-form-label text-lg-end">Password</label>
                <div class="col">
                    <InputText type="password" id="inputPassword" class="form-control" @bind-Value="@Parameters.Password" />
                    <ValidationMessage For="@(() => Parameters.Password)" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-lg-4 col-form-label text-lg-end">Confirm Password</label>
                <div class="col">
                    <InputText type="password" id="inputPasswordConfirm" class="form-control" @bind-Value="@Parameters.ConfirmPassword" />
                    <ValidationMessage For="@(() => Parameters.ConfirmPassword)" />
                </div>
            </div>
            <br />
            <div class="row mb-3">
                <label class="col-lg-4 col-form-label text-lg-end">First Name</label>
                <div class="col">
                    <InputText class="form-control" @bind-Value="Parameters.FirstName" />
                    <ValidationMessage For="@(() => Parameters.FirstName)" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-lg-4 col-form-label text-lg-end">Middle Name</label>
                <div class="col">
                    <InputText class="form-control" @bind-Value="Parameters.MiddleName" />
                    <ValidationMessage For="@(() => Parameters.MiddleName)" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-lg-4 col-form-label text-lg-end">Last Name</label>
                <div class="col">
                    <InputText class="form-control" @bind-Value="Parameters.LastName" />
                    <ValidationMessage For="@(() => Parameters.LastName)" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-lg-4 col-form-label text-lg-end">Phone Number</label>
                <div class="col">
                    <InputText type="phone" class="form-control" @bind-Value="Parameters.PhoneNumber" />
                    <ValidationMessage For="@(() => Parameters.PhoneNumber)" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-lg-4 col-form-label text-lg-end">Address</label>
                <div class="col">
                    <InputTextArea class="form-control" @bind-Value="Parameters.Address" />
                    <ValidationMessage For="@(() => Parameters.Address)" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-lg-4 col-form-label text-lg-end">Meter Number</label>
                <div class="col">
                    <InputText type="phone" class="form-control" @bind-Value="Parameters.MeterNumber" />
                    <ValidationMessage For="@(() => Parameters.MeterNumber)" />
                </div>
            </div>
        </div>
    </div>


    <label class="text-danger">@error</label>

    <div class="row">
        <div class="col-lg-6 offset-lg-5">
            <button class="btn btn-primary" type="submit">Create account</button>
        </div>
    </div>

    <br />
    <NavLink href="login">
        <h6 class="font-weight-normal text-center">Already have an account? Click here to login</h6>
    </NavLink>
</EditForm>

@functions {

    RegisterModel Parameters { get; set; } = new RegisterModel();
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Register(Parameters);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}