@page "/administrator"
@using BlazorApp.Shared.Dashboards
@using BlazorApp.Shared.Reservations

@attribute [Authorize]

@inject HttpClient Http

<PageTitle>Dashboard</PageTitle>

<div class="row">
    <div class="col">
        <h3>Dashboard</h3>
    </div>
    <div class="col-auto">
        @*<button class="btn btn-secondary" @onclick="@(async ()=> await GetItems())">
            <i class="oi oi-reload"></i>
            Refresh
            </button>
            <a href="/administrator/announcements/add" class="btn btn-primary">
            <i class="oi oi-plus me-1"></i>Add
            </a>*@
    </div>
</div>

<div class="row">

    <div class="col-md mb-2 mb-md-0">
        <div class="card card-primary">
            <div class="card-header">
                Announcements
            </div>
            <div class="card-body">
                @dashboard.Announcements
            </div>
        </div>
    </div>
    <div class="col-md mb-2 mb-md-0">
        <div class="card card-primary">
            <div class="card-header">
                Notifications
            </div>
            <div class="card-body">
                @dashboard.Notifications
            </div>
        </div>
    </div>
</div>

<br />
<h5>Reservations</h5>
<div class="row">
    <div class="col-md mb-2 mb-md-0">
        <div class="card card-primary">
            <div class="card-header">
                Today
            </div>
            <div class="card-body">
                @dashboard.TodayReservations
            </div>
        </div>
    </div>
    <div class="col-md mb-2 mb-md-0">
        <div class="card card-primary">
            <div class="card-header">
                Tomorrow
            </div>
            <div class="card-body">
                @dashboard.TomorrowReservations
            </div>
        </div>
    </div>
    <div class="col-md mb-2 mb-md-0">
        <div class="card card-primary">
            <div class="card-header">
                This Week
            </div>
            <div class="card-body">
                @dashboard.WeekReservations
            </div>
        </div>
    </div>
</div>

<br />
<h5>Billing</h5>
<div class="row">
    <div class="col-md mb-2 mb-md-0">
        <div class="card card-primary">
            <div class="card-header">
                Over Due
            </div>
            <div class="card-body">
                @dashboard.PastDueDateBillings
            </div>
        </div>
    </div>
    <div class="col-md mb-2 mb-md-0">
        <div class="card card-primary">
            <div class="card-header">
                Today
            </div>
            <div class="card-body">
                @dashboard.TodayDueDateBillings
            </div>
        </div>
    </div>
    <div class="col-md mb-2 mb-md-0">
        <div class="card card-primary">
            <div class="card-header">
                Tomorrow
            </div>
            <div class="card-body">
                @dashboard.TomorrowDueDateBillings
            </div>
        </div>
    </div>
    <div class="col-md mb-2 mb-md-0">
        <div class="card card-primary">
            <div class="card-header">
                This Week
            </div>
            <div class="card-body">
                @dashboard.WeekDueDateBillings
            </div>
        </div>
    </div>
</div>


@code {

    Administrator dashboard = new();

    protected override async Task OnInitializedAsync()
    {
        await GetDashboard();
    }

    async Task GetDashboard()
    {
        var item = await Http.GetFromJsonAsync<Administrator>("/api/dashboard/administrators");

        dashboard = item;
    }

    async Task Refresh()
    {
        await GetDashboard();
    }
}
